<h1>Hi Lo Game</h1>

<h4>Hello <%= session[:user] %></h4>

<!-- TODO: save user value in-between resets -->
<% if session[:user].nil? %>
  <form method="get" action="game">
    <input type="text" name="user" placeholder="Enter your name">
    <input type="submit" value="Save Name">
  </form>
<% end %>

<br/>

<h4>Guess a number between 1-100</h4>
<div>Current guess: <%= params[:number] %></div>
<div>Your guess is <%= @message %></div>
<div>Number of Guesses: <%= @counter %></div>

<br/>

<form method="get" action="game">
  <input type="number" name="number" placeholder="Enter your guess">
  <input type="submit" value="Guess">
</form>

<br/>

<form method="get" action="new_game">
  <input type="submit" value="Reset Game">
</form>
